# Example environment variables
# Add your BYPASS_TOKEN to allow bypassing external token verification in dev/test
BYPASS_TOKEN=BYPASS_TOKEN

# (other env variables used in the project)
# MONGO_URL=your_mongo_url
# PORT=3000
# HOST=0.0.0.0
# ACCESS_TOKEN_SECRET_KEY=your_access_token_secret
# REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret
# SEND_GRID_API_KEY=your_sendgrid_key
# MSG91_TOKEN_VALIDATE_URL=...
# MSG91_AUTH_KEY=...
